@media screen and (max-width: 760px) {
.contenedor{
  background-color: #fff;
  width: 50vh;
  height: 100vh;
  display: flex;/* 
  align-items: center; */
  justify-content: center;
}  
.head{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.cards{
  width: 3em;
  height: 3em;
  flex-direction: row;
  justify-content: center;

}
.form{
  display: none;
}
.footer{
  display: none;
}
}