@media screen and (max-width: 760px) {
.contenedor{
  background-color: #fff;
  width: 50vh;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}  
.head{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.cards{
  width: 3em;
  height: 3em;
  flex-direction: row;
  justify-content: center;

}
.box{
  width: 120px;
  height: 120px;
  border-radius: 4px;
  background: #fff;
}
.button{
  background: #fff;
  border: none;
  border-radius: 25px;
}
.form{
  display: none;
}
.footer{
  display: none;
}
}