.container {
  width: 650px;
  height: 220px;
  display: table;
  overflow: hidden;
  margin: 0;
  padding: 15px;
  background-color: rgb(41, 89, 31);
  border-radius: 10px;
}
.table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: rgb(211, 0, 0);
}

.item {
  background: white;
 /*  */
}