.formulario{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 19.250rem;
    height: 10rem;
    z-index: 1;
    background-color: rgb(18, 117, 117);
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3em;
    }
    .formulario  div{
        display: flex;
        justify-content: space-evenly;
        
    }
    .closeBtn {
       
        position : absolute;
        top : 4% ;
        left: 90%;
        border-radius: 3em;
    }
  .btn{
  position : absolute;
  border-radius: 3em;
   bottom: 13%;
   left : 40%;
  }
   