.container {
    display: table;
    
    background-color: #3a3434;
}
.tableHead{
    background-color: #000000;
    color: rgb(235, 204, 198);
    
}
.tableRows{
    background-color:rgb(50, 155, 62) ;
    
}
.tableData{
  /*  margin: auto; */
   text-align: center;
}
