.container {
  display: table;
  align-content: center;
  justify-content: center;
 margin-top: 23px;
  background-color: #000000;
}
.tableHead{
  background-color: #000000;
  color: rgb(235, 204, 198);

}
.tableHead tr {
  display: flex;
  flex-direction: row;
}
.tableHead th {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.tableBody{
  width: fit-content;
}
.head {
  display: none;
}
.body{
  width : 100%
}
.body td {
  width: 130px;
  /* width:100%; */
}
.tableRows{
  max-width: 13px;
  width: 100%;
  font-size:x-small;
  background-color:rgb(50, 155, 62) ;
}
.tableData{
 text-align: center;
}
.alter tr th{
  display: none;
}

@media screen and (max-width: 760px) {
 
  .tableBody   {
   display:flex;
   align-items: center;
   justify-content: center;
    background-color: dodgerblue;
    width: 100%;
  }
  .tableHead {
    display: none;
  }
  .head{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size:x-small;
  justify-content: center;
  /* align-items: center; */
 }
 .body{
   width: 100%;
  }
  .tableBody .body tr td{
    
    display: flex;
    justify-content:space-around;
    align-items: center;
   font-size:x-small;
  }
 .tableBody .alter   th{
  display:flex;
  /* color: aliceblue; */
  font-size:x-small;
  justify-content: center;/* 
  align-items: center; */
 }
 .body {

 }
 .alter th{
  max-height: 14px;
 }

 
 
}