.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  overflow: hidden;
  position : relative;
}
.carouselImage{
  position: relative;
  width: 200px;
  height: 300px;
  scroll-behavior: smooth;
  overflow: hidden  ;
}
.animate {
  animation: scrollImgFwr 1s linear ;
}
.animatedBack {
  animation: scrollImgBwr 1s linear ;
}
@keyframes scrollImgFwr {
  0% {
    left: 50%;
  }
  100% {
    left: 0%
  }
}
@keyframes scrollImgBwr {
  0% {
    right: 50%;
  }
  100% {
    right: 0%
  }
}
.prevButton ,
.nextButton {
  
position : relative;
  background-color: #333;
  color : #fff;
  padding: 10px 20px;
  border:none;
  cursor: pointer;
  margin: 0 10px;
}
.prevButton:hover,
.nextButton:hover {
  background-color: #555;
}