/* .container{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;  
} */

.formulario{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 19.250rem;
    height: 10rem;
    z-index: 1;
    /* margin: 250px; */
    background-color: aqua;
   
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    };
    .formulario {
      
    }
   