
  
  .container {
    background-color: rgb(36, 35, 35);
    display: flex;
    flex-direction: row;
   /*  align-items: center; */
    width: 100%;
    height: 4rem;
    /* border: 1px solid black; */
    font-family: Cabin;
  /*   border-bottom: 0.08rem solid rgb(190, 190, 190); */
    
  }
  
  .leftContent {
    display: flex;
  /*   flex-direction: row; */
    width: 50%;
    justify-content: flex-start;
    height: 100%;
    /* justify-content: space-between; */
/*     justify-content: flex-start; */
  }

  
  .divLogo {
  margin-left: -3rem;
  width: 15%;
  }
  
  .logo {
    
    width: 6rem;
    height: 4rem;
    
    filter :brightness(1.1);
    mix-blend-mode: multiply;
  }
  
/*   .divLogin {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 10%;
    align-items: center;
    border: 1px solid black;
   margin-right: 0rem;
  }
  
  .pictureprofile {
    height: 75%;
    border-radius: 50%;
  }
  
  .loginText {
    font-family: Koulen;
    font-size: 1rem;
    color: black;
    border: none;
    text-decoration: none;
    background-color: transparent;
    width: fit-content;
    position: relative ;
    margin-left: 0%;
  }
  
  .divLogin:hover {
    cursor: pointer;
    background-color: rgb(17, 94, 5);
  } */
  
  .menu {
   display: flex;
   align-items: center;
   width:  100%; 
   justify-content: flex-start;
   list-style-type: none;
  }
  
  
  ul {
    text-decoration: none;
  }
  .title{
   
    justify-content: space-around;
    width:25%;
    font-family: monospace;
  }
  .title h1{
    color: rgb(223, 172, 4);
  }
  .buttonNavBar {
    align-items: center;
    font-family: monospace;
   justify-content: center;
    padding: 10px;
  }
  .buttonNavBar a {
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  justify-content: center;
  }
  .buttonNavBar:hover {
    cursor: pointer;
    background-color: rgb(17, 94, 5);
  }
  .buttonNavBar li :focus{
    background: #000;;
  }
  
  